<h4 mat-dialog-title>Upload Photo</h4>
<mat-dialog-content>
  <div class="content"></div>
  <div class="image-preview" *ngIf="imgPreview()">
    <img [src]="imgPreview()" alt="Upload photo" />
  </div>
  <p *ngIf="imgFile">{{ imgFile.name }}</p>
  <p *ngIf="errMessage()" class="error-message">{{ errMessage() }}</p>

  <input
    type="file"
    #filePike
    (change)="onImgPicked($event)"
    accept=".jpg, .png"
  />

  <mat-dialog-actions>
    <button mat-raised-button type="button" (click)="filePike.click()">
      Pick Image
    </button>
    <button
      type="submit"
      mat-stroked-button
      (click)="onSubmit()"
      [disabled]="!imgFile"
    >
      Up load
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
